/* Assignment 3. WEOP spring 2013
*  jQuery plugIn - uPlayer
*  Carsten Petersen, Elín Gylfadóttir, Sigrún Inga Kristinsdóttir
*/

#uPlayFrame {
	padding-left: 20px;
	width: 600px;
	height: 380px;
	border:5px solid #69db0e;
	border-radius:25px;
}
.button{
	height: 100px;
	width: 100px;
}
#player_progress{
	position: relative;
	top: -55px; /*eigum eftir að finna staðsetningu*/
}
#player_volume{	
	position: relative;
	top: -35px; /*eigum eftir að finna staðsetningu*/
	left: 100px;

}
.listElem{
	font-size: 28px;
	color: #69DB0E;
}
.progress { 
	width: 230px;
	height: 40px;
	background: #B9F84F;
	border:5px solid #69DB0E;
	padding:10px 40px; 
	border-radius: 25px;
}